@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(249, 249, 249);
}

.bg-box {
  background-color: #F7FAFC;
  background-image: linear-gradient(#F3F4F8 0px, transparent 1px),
    linear-gradient(to right, #ebebeb 0px, #ffffff 1px);
  background-size: 58px 58px;
}

h1 {
  @apply text-6xl font-bold text-neutral-500 tracking-tighter;
}

h2 {
 @apply text-4xl font-semibold text-black tracking-tighter;
}

/* button {
  background-color: black;
  outline-offset: -1px;
  color: #fff;
  border-radius: 0.5rem;
  outline: 1px solid rgba(255, 255, 255, 0.34);
  padding: 0.9rem 1.7rem;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.25rem;
  transition: all 0.2s;
  overflow: hidden;
  box-shadow:
    0 0 0 1px black,
    0 1px 2px rgba(12, 43, 100, 0.32),
    0 6px 16px rgba(12, 43, 100, 0.32),
    0 0 0 5px rgba(255, 255, 255, 0.81),
    0 0 0 6.3px rgba(0, 0, 0, 0.04);
} */

.button-call-to-action {
  @apply flex min-w-[200px] items-center justify-center gap-2 rounded-full border-[1px] px-8 py-3 font-medium shadow-sm;
}

p {
  @apply text-[15px] font-normal;
}


.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: purple;
}